html {
    background-color: #00539f;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

p {
    color: red;
}

h1, h2, h3 {
    color: red;
    text-shadow: 3px 3px 1px black;
}

a:hover {
    color: red;
}